# Java
*.class
*.jar
*.war
*.ear

# Eclipse
.classpath
.project

# Gradle
.gradle/
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# swp
.*.swp

# except the jars (libraries) in lib
!lib/*.jar

# LaTeX Stuff
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
